<template>
    <header class="slds-global-header_container">
        <div class="slds-global-header slds-grid slds-grid_align-spread">
            <div class="slds-global-header__item">
                <div class="slds-global-header__logo">
                    <img src="https://i.imgur.com/Y9xnXhJ.png" height="100px" width="100px" style="border-radius: 4px; 
                    vertical-align: middle; 
                    box-sizing: border-box; 
                    width: 40px;
                    height: 40px; ">
                </div>
            </div>
            <div class="slds-global-header__item">
                <div class="slds-text-heading_large slds-text-color_success">Flower Mart</div>
            </div>
        </div>
    </header>
    <br>
    <br>
    <br>

    <lwce-router>
        <main>
            <!-- This will show all plants -->
            <lwce-route path="/" exact>
                <div if:true={plants}>
                    <div class="slds-grid slds-wrap">
                        <template for:each={plants} for:item="plant">
                            <div class="slds-p-around_small slds-col slds-size_6-of-12" key={plant.Id}>
                                <my-plant-card plant={plant}></my-plant-card>
                            </div>
                        </template>
                    </div>
                </div>
            </lwce-route>

            <!-- This will show perticular plant -->
            <lwce-route path="/plantdetail/:clickedPlantId">
                <my-plant-detail plants={plants}></my-plant-detail>
            </lwce-route>
        </main>
    </lwce-router>
</template>