<template>
    <lightning-layout multiple-rows>
        <lightning-layout-item size="4">
            <div class="slds-p-around_small">
                <img src={selectedPlant.Image_Url__c} style="border-radius: 25px; 
                vertical-align: middle; 
                box-sizing: border-box;
                max-width: 80%;">
            </div>
        </lightning-layout-item>
        <lightning-layout-item size="8">

            <lightning-layout multiple-rows>

                <lightning-layout-item size="12">
                    <div class="slds-text-heading_medium slds-p-top_large" style="color: limegreen;">
                        {selectedPlant.Name}
                    </div>
                </lightning-layout-item>

                <lightning-layout-item size="2" style="padding-top: 30px;">
                    <div class="slds-text-heading_large slds-text-color_destructive">{selectedPlant.Price__c} Rs</div>
                </lightning-layout-item>

                <lightning-layout-item size="2" class="slds-p-vertical_large">
                    <lightning-badge label={plantDiscount} class="slds-badge_inverse slds-m-vertical_small">
                    </lightning-badge>
                </lightning-layout-item>

                <lightning-layout-item size="2" class="slds-p-vertical_large">
                    <ul class="slds-list_horizontal slds-m-vertical_small">
                        <template for:each={stars} for:item="star">
                            <li key={star.id} if:true={star.show} class="slds-p-horizontal_xxx-small">
                                <lightning-icon icon-name="utility:favorite" size="xx-small" variant="warning">
                                </lightning-icon>
                            </li>
                        </template>
                    </ul>
                </lightning-layout-item>

                <lightning-layout-item size="6">

                </lightning-layout-item>

                <lightning-layout-item size="10">
                    <div class="slds-text-color_weak">{selectedPlant.Description__c}</div>
                </lightning-layout-item>

                <lightning-layout-item if:false={showForm} size="12" class="slds-m-vertical_large">
                    <lightning-button variant="success" label="Buy Now" title="Purchase this plant"
                        onclick={handleBuyNow}></lightning-button>
                </lightning-layout-item>

                <lightning-layout-item if:true={showForm} size="10">
                    <lightning-layout multiple-rows>
                        <lightning-layout-item size="6">
                            <div class="slds-p-vertical_medium slds-m-right_small lgc-bg">
                                <lightning-input type="text" label="Enter Your Name" onchange={getCustomerName}>
                                </lightning-input>
                            </div>
                        </lightning-layout-item>
                        <lightning-layout-item size="6">
                            <div class="slds-p-vertical_medium slds-m-left_small lgc-bg">
                                <lightning-input type="email" label="Email address" onchange={getCustomerEmail}>
                                </lightning-input>
                            </div>
                        </lightning-layout-item>
                        <lightning-layout-item size="12">
                            <lightning-input-address onchange={getCustomerAddress} address-label="Address"
                                street-label="Street" city-label="City" country-label="Country"
                                province-label="Province" postal-code-label="PostalCode">
                            </lightning-input-address>
                        </lightning-layout-item>
                    </lightning-layout>
                </lightning-layout-item>

                <lightning-layout-item if:true={showForm} size="12" class="slds-m-vertical_large">
                    <lightning-button variant="success" label="Order" title="Purchase this plant" onclick={handleOrder}>
                    </lightning-button>
                </lightning-layout-item>


            </lightning-layout>



        </lightning-layout-item>
    </lightning-layout>
</template>