<template>
    <div class="slds-card slds-p-around_small">
        <div class="demo-only" style="width:30rem">
            <article class="slds-tile slds-media">
                <div class="slds-media__figure">
                    <span class="slds-icon_container" title="description of icon when needed">
                        <img src={plant.Image_Url__c} height="100px" width="100px" style="border-radius: 4px; 
                        vertical-align: middle; 
                        box-sizing: border-box; 
                        width: 10rem;
                        height: 10rem;">
                    </span>
                </div>
                <div class="slds-media__body">
                    <h3 class="slds-tile__title slds-truncate" title={plant.Name}>
                        <lwce-router>
                            <lwce-link href={plantLink}>{plant.Name}</lwce-link>
                        </lwce-router>
                    </h3>
                    <lightning-layout multiple-rows>
                        <lightning-layout-item size="4">
                            <lightning-badge label={plantDiscount} class="slds-badge_inverse slds-m-vertical_small">
                            </lightning-badge>
                        </lightning-layout-item>
                        <lightning-layout-item size="4">
                            <ul class="slds-list_horizontal slds-m-vertical_small">
                                <template for:each={stars} for:item="star">
                                    <li key={star.id} if:true={star.show} class="slds-p-horizontal_xxx-small">
                                        <lightning-icon icon-name="utility:favorite" size="xx-small" variant="warning">
                                        </lightning-icon>
                                    </li>
                                </template>
                            </ul>
                        </lightning-layout-item>
                    </lightning-layout>
                    <div class="slds-tile__detail">
                        <dl class="slds-list_horizontal slds-wrap">
                            <dt class="slds-item_label slds-text-color_weak slds-truncate" title="Planted on">Planted
                                on:
                            </dt>
                            <dd class="slds-item_detail slds-truncate">
                                <lightning-formatted-date-time value={plant.Date_of_Plantation__c} year="2-digit"
                                    month="short" day="2-digit" weekday="long"></lightning-formatted-date-time>
                            </dd>
                            <div class="slds-p-top_small">
                                <p class="slds-line-clamp_small slds-text-color_weak">
                                    {plant.Description__c}
                                </p>
                            </div>
                        </dl>
                    </div>
                </div>
            </article>
        </div>
    </div>
</template>